*{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	font-family: 'Jura', sans-serif;
}

#sliderDivider{

	position: relative;lative;
	background-color: black;
	width: 100vw;
	height: 80vh;
	animation: sliderDivider 3s 1;
	animation-direction: forwards;
	overflow-y: hidden;

}

#icon{

	opacity: 0.19;
	position: relative;
	/* width: 620px;
	height: 620px; */
	z-index: 1;
	overflow: hidden;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}

#divPic{
	position:absolute;
	width: 100vw;
	height: 80vh;
	text-align: center;
	overflow: hidden;
	bottom: -30%;


}

#sliderDivider p{

	position: relative;
	text-align: center;
	color: white;
	font-size: 25px;
	z-index: 1;

}

#sliderDivider h1{

	position: relative;
	text-align: center;
	color: white;
	font-size: 50px;
	top: 5%;
	z-index: 1;

}


#sliderDivider h3{

	position: absolute;
	text-align: center;
	font-size: 1.5vw;
	color: white;
	top: 55%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}



#mainDivider{
	position: relative;
	background-color: white;
	overflow-y: hidden;
	text-align: center;
}

#mainDivider h1{

	position: relative;
	font-size: 50px;
	width: 100vw;
	text-align: center;


}

#mainDivider img{

	position: relative;
	top: 40px;

}

#descDivider{

	background-color: black;
	position: relative;
	text-align: center;

}

#descDivider h1{

	font-size: 50px;
	color: white;

}

#descDivider li{


	color: white;
	font-size: 25px;
}
.buttons{

	z-index: 3;
	height: 100px;
	display: table;
}
ul {

	text-align: center;
  list-style: inside;
	overflow: hidden;
}
li a {

  color: white;
  text-align: center;
	overflow: hidden;
}
	ul li {
		display: inline;
		font-size: 20px;

	}
	.row1 {
		display: flex;

	}

	.column1 {
	  flex: 33.33%;
	  padding: 5px;

	}
	.row2 {
		display: flex;
		position: relative;

	}

	.column2 {
	  flex: 33.33%;
	  padding: 5px;
	}
#mainDivider{

			position: relative;
			top: 150px;
			width: 80vw;
			left: 9vw;
			z-index: 0;

		}
