*{
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	overflow-x: hidden;
	font-family: 'Jura', sans-serif;
}
html{
	overflow: scroll;
}
.BUG{
	height: 200px;
}

#sliderDivider{

	position: relative;lative;
	background-color: black;
	width: 100vw;
	height: 80vh;
	animation: sliderDivider 3s 1;
	animation-direction: forwards;
	overflow: hidden;

}
#body{
	overflow: hidden;
}
.main{
	text-align: center;
}
#icon{

	opacity: 0.19;
	position: relative;
	/* width: 620px;
	height: 620px; */
	z-index: 1;
	overflow: hidden;
	-webkit-transition: all 1.5s ease-in-out;
	-moz-transition: all 1.5s ease-in-out;
	-o-transition: all 1.5s ease-in-out;
	transition: all 1.5s ease-in-out;
}

#divPic{
	position:absolute;
	width: 100vw;
	height: 80vh;
	text-align: center;
	overflow: hidden;
	bottom: -30%;


}

#sliderDivider p{

	position: relative;
	text-align: center;
	color: white;
	font-size: 25px;
	z-index: 1;

}

#sliderDivider h1{

	position: relative;
	text-align: center;
	color: white;
	font-size: 50px;
	top: 5%;
	z-index: 1;

}
#main{
	overflow: hidden;
}


#sliderDivider h3{

	position: absolute;
	text-align: center;
	font-size: 1.5vw;
	color: white;
	top: 55%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);

}


sliderDivider{
	overflow: hidden;
}
#mainDivider{
	position: relative;
	background-color: white;
	overflow: hidden;
	text-align: center;
	top: 40px;
}

#mainDivider img{

	position: relative;
}

#mainDivider h1{
	position: inherit;
}

#descDivider{

	background-color: black;
	position: relative;
	text-align: center;

}

#descDivider h1{

	font-size: 50px;
	color: white;

}

#descDivider li{


	color: white;
	font-size: 25px;
}
.buttons{

	z-index: 3;
	height: 100px;
	display: table;
}
ul {

	text-align: center;
  list-style: inside;
	overflow: hidden;
}
li a {

  color: white;
  text-align: center;
	overflow: hidden;
	font-size: 30px;
}
	ul li {
		display: inline;
		font-size: 20px;

	}
	.row1 {
		display: inline-flex;

	}

	.column1 {
	  flex: 33.33%;
	  padding: 5px;

	}
	.row2 {
		display: flex;
		position: relative;

	}

	.column2 {
	  flex: 33.33%;
	  padding: 5px;
	}
